Source: ubuntu-emailclient-app
Priority: extra
Maintainer: Ubuntu App Cats <ubuntu-touch-coreapps@lists.launchpad.net>
Build-Depends: debhelper (>= 9), 
Standards-Version: 3.9.4
Section: misc
Homepage: https://launchpad.net/ubuntu-emailclient-app
Vcs-Bzr: https://code.launchpad.net/~ubuntu-emailclient-dev/ubuntu-emailclient-app/trunk

Package: ubuntu-emailclient-app
Section: misc
Architecture: all
Depends: ${misc:Depends},
         qmlscene,
         qtdeclarative5-ubuntu-ui-toolkit-plugin | qt-components-ubuntu,
         qtdeclarative5-qtquick2-plugin
Description: Email Client application
 Core Email Client application
